	<div data-role="footer" style="text-align:center;">
	<div class="ui-grid-solo ui-responsive">
		<img src="/img/shankara.png" style="max-width:50%;">
	</div>				
		{{ if (eq .Params.lang "hi") }}
		<h4>आकाश टूर एनड त्रैकिँग</h4>		
		{{ else }}
		<h4>Akash Tour and Trekking</h4>		
		{{ end }}


		{{ if (eq .Params.lang "hi") }}
{{ range .Site.Taxonomies.groups.foothi.Pages.ByWeight }}
               <p><a href="{{ .Permalink  }}"style="text-decoration:none;" >{{ .Title }}</a></p>	
		{{ end }} 
		{{ else }}
{{ range .Site.Taxonomies.groups.foot.Pages.ByWeight }}
               	<p><a href="{{ .Permalink  }}"style="text-decoration:none;">{{ .Title }}</a></p>	
		{{ end }} 
	{{ end }}
		
		{{ if (eq .Params.lang "hi") }}
		<h4>कुईक् लीन्क्स</h4>		
{{ range .Site.Taxonomies.groups.quickhi.Pages.ByWeight }}
               <p><a href="{{ .Permalink  }}"style="text-decoration:none;">{{ .Title }}</a></p>	
		{{ end }} 
		{{ else }}
		<h4>Quick Links</h4>		
{{ range .Site.Taxonomies.groups.quick.Pages.ByWeight }}
               	<p><a href="{{ .Permalink  }}"style="text-decoration:none;">{{ .Title }}</a></p>	
		{{ end }} 
	{{ end }}
		<img src="/img/gan.png" style="max-width:20%;">
		{{ if (eq .Params.lang "hi") }}
		<h4>पटा: </h4>
		<h4>आकाश टूर एनड त्रैकिँग ग्राम चौमासी</h4><h4> पी.औ .जाल तलला उतराखणड</h4>
		<h4>फोन्: +91 9759934535</h4>
		{{ else }}
		<h4>Address: Akash Tour and Trekking</h4>	
		<h4>grahm Chaumasi</h4>
		<h4>P.O. Jal Talla Uttarkhand</h4>
		<h4>Phone:+91 9759934535</h4>		
		{{ end }}
	</div>
</body>
</html>
